

<% include partials/header %>

<div class="row">
    <div class="col-lg-12">
        <h3>Campground Details</h3>
    </div>
</div>

<div class="row">
    <h1>this is where the campground details will go</h1>
</div>

<% include partials/footer %>

