

<% include partials/header %>

<h3>This is the Campgrounds page!!!</h3>

<% campgrounds.forEach(function(campground){ %>
    <div>
        <h4><%= campground.name %></h4>
        <img src="<%= campground.image %>">
    </div>
<% }); %>

<% include partials/footer %>

